.m-sectitle{
	display: flex;
	align-items: center;
	&__icon{
	    background-color: #EB4846;
		padding: 0.5rem;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		order: -1;
		& i{
		    font-size: 2rem;
		    color: #FFF;
		} /* .& i */
	} /* .&__icon */
	&:before {
	    content: "";
	    border: 1px solid black;
	    width: 35px;
	    order: 0;
		margin: 0 10px;
	}
	&__title{
	    margin-bottom: 0;
	    letter-spacing: 1px;
	}
}