@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
	background-color: v.$purpuraOscuro;
	color: v.$blanco;
	position: relative;
	padding-top: 5rem;
	&-contenedor{
		padding: 2rem 0;
	}
	&-contactInformation{
	    display: flex;
	    column-gap: 3rem;
	    align-items: stretch;
	    justify-content: center;
		&__logoText{
		    background: #291468;
		    display: grid;
		    color: #fFF;
		    grid-template-areas:
		        "logo texto1 texto1"
		        "logo texto2 texto2";
		    align-items: center;
		    border-radius: 1rem;
		    padding: 2rem;
			&-span{
    			grid-area: logo;
			    width: 50px;
			    height: 50px;
			    border-radius: 50%;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    background-color: #5d3ebc;
			    margin-right: 1rem;
			    & i{ font-size: 2.5rem; }
			}
			&-title{
				color: #5d3ebc;
				grid-area: texto1;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.8rem;
				letter-spacing: 1px;
			}
			&-subtitle{
				grid-area: texto2;
				font-size: 1.6rem;			
			}
		}
		&__emailPhone{
			background: #5D3EBC;
			flex: 3;
			display: flex;
			justify-content: space-between;
			padding: 1rem 0rem;
			border-radius: 1rem;
			&-sec{
				flex: 1;
				display: grid;
    			grid-template-areas: "icono texto texto";
    			font-size: 1.6rem;
    			& i{
					grid-area: icono;
					font-size: 4.5rem;
					width: fit-content;
					justify-self: center;
					align-self: center;
    			}
    			& span{ grid-area: texto; align-self: center;}
				&:last-child{
					border-left: 1px solid #291468;
				}
			}
		}
	}
	&-manesite{
		margin: 6rem 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
    	column-gap: 7rem;
		& .title{
		    font-size: 1.5rem;
		    font-weight: bold;
		    text-transform: uppercase;
		    margin-bottom: 2.5rem;
		    letter-spacing: 2px;
		}
		& .description{
			font-size: 1.6rem;
		}
		&__s1{
			flex: 3;
		}
		&__s2{
			flex: 2;
			&-link{
				display: block;
				margin-bottom: 2rem;
				transition: .3s all ease-in-out;
				&:last-child{margin-bottom: 0;}
				& img{
					width: 135px;
				    border: 2px solid #FFF;
    				border-radius: 1rem;
				}
				&:hover{
					transform: scale(1.1);
				}
			}
		}
		&__s3{
			flex: 2;
		}
		&__s4{
			flex: 3;
			& .description{ margin-top: 4rem; }
		}

		&__formulario{
			display: flex;
		    flex-direction: column;
		    align-items: flex-start;
		    justify-content: center;
		    row-gap: 2rem;
		    &-input{
			    font-size: 1.6rem;
		    	padding: 1rem;
			    padding-left: 2rem;
			    border-radius: 2rem;
			    width: 100%;
				font-weight: 600;
			    &::placeholder {
				    color: #212121;
				}
		    }
		    &-submit{
				background-color: #FCD812;
				border-radius: 2rem;
				font-size: 1.5rem;
				font-weight: bold;
				padding: 1rem 4rem;
				color: #191919;
				letter-spacing: .5px;
		    }
		}
	}
}

.menu-footer{
	&__li{
		list-style: none;
		margin-bottom: 1.5rem;
		&:last-child{margin-bottom: 0;}
		&-link{
			color: v.$blanco;
			font-size: 1.7rem;
			&:before{
			    content: "\f054";
			    font: normal 900 1em/1 "Font Awesome 6 Free";
			    color: v.$amarillo;
    			margin-right: 1.5rem;
			}
			&:hover{
				transition: .3s all ease-in-out;
				color: v.$amarillo;
			}
		}
	}
}