@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
	background-color: v.$purpuraOscuro;
	color: v.$blanco;
	position: relative;
	padding-top: 5rem;
	&-contenedor{
		padding: 2rem 0;
	}
	&-contactInformation{
	    display: flex;
	    column-gap: 3rem;
	    align-items: stretch;
	    justify-content: center;
		&__logoText{
		    background: #291468;
		    display: grid;
		    color: #fFF;
		    grid-template-areas:
		        "logo texto1 texto1"
		        "logo texto2 texto2";
		    align-items: center;
		    border-radius: 1rem;
		    padding: 2rem;
			&-span{
    			grid-area: logo;
			    width: 50px;
			    height: 50px;
			    border-radius: 50%;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    background-color: #5d3ebc;
			    margin-right: 1rem;
			    & i{ font-size: 2.5rem; }
			}
			&-title{
				color: #5d3ebc;
				grid-area: texto1;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.8rem;
				letter-spacing: 1px;
			}
			&-subtitle{
				grid-area: texto2;
				font-size: 1.6rem;			
			}
		}
		&__emailPhone{
			background: #5D3EBC;
			flex: 3;
			display: flex;
			justify-content: space-between;
			padding: 1rem 0rem;
			border-radius: 1rem;
			&-sec{
				flex: 1;
				display: grid;
    			grid-template-areas: "icono texto texto";
    			font-size: 1.6rem;
    			& i{
					grid-area: icono;
					font-size: 4.5rem;
					width: fit-content;
					justify-self: center;
					align-self: center;
    			}
    			& span{ grid-area: texto; align-self: center;}
				&:last-child{
					border-left: 1px solid #291468;
				}
			}
		}
	}
}