@use 'base/variables' as v;
@use 'base/mixins' as m;

.good-message{
	background-color: v.$amarillo;
	padding: 3rem 0;
	position: relative;
	&-contenedor{
		padding: 4rem 0;
		align-items: center;
		@include m.grid(2, 3rem);
	}
	&__contentmessage{
		margin-bottom: 0;
		margin: 3rem 0;
		font-size: 2.5rem;
	}
	&__text{
		margin-bottom: 3rem;
	}
	&__boton{
		background-color: v.$purpuraOscuro;
	    border-radius: 2rem;
	    border: 2px solid #4C3397;
	    font-size: 1.6rem;
	    font-weight: bold;
	    padding: 1rem 2rem;
	    color: v.$blanco;
	    display: inline-block;
	    transition: .3s all ease-in-out;
	    &:hover{
	        background-color: #fcd812;
    		color: #4C3397;
	    }
	}
	&__cards{
		@include m.grid(2, 2rem);
		grid-template-rows: repeat(14, 1fr);
		&-card{
			background-color: v.$blanco;
			height: fit-content;
		    display: flex;
		    flex-direction: column;
		    border-radius: 1.1rem;
		    align-items: center;
    		justify-content: center;
    		overflow:hidden;
			&:nth-child(1){
				grid-row: 1 / 6;
			    grid-column: 1 / 2;
			}
			&:nth-child(2){
				grid-row: 1 / 8;
    			grid-column: 2 /3;
			}
			&:nth-child(3){
				grid-row: 6 / 13;
    			grid-column: 1 / 2;
			}
			&:nth-child(4){
				grid-row: 8 / 15;
    			grid-column: 2 / 3;
			}
			& img{
				width: 95%;
				transition: .3s all ease-in-out;
			}
			&:hover > img{
				cursor:pointer;
				transform: scale(1.1);
			}
		}
	}
}
.boton-card{
	border-radius: 1rem;
	border:none;
	text-align: center;
	width: 100%;
	&:hover{
		background-color: #4C3397;
		color:v.$blanco;
	}
}

@media (max-width: 950px) {
	.good-message-contenedor{
	    grid-template-columns: 1fr;
    	padding-top: 8rem;
    	&__left{
    		margin-bottom: 4rem;
    		& .m-sectitle{ justify-content: center; }
    	}
	}
}

@media (max-width: 500px) {
	.good-message__cards{
	    display: block;
    	&-card{
    	    margin-bottom: 2rem;
    	    &:last-child{ margin-bottom: 0; }
    	}
	}
}