@use 'base/variables' as v;
@use 'base/mixins' as m;

.good-message{
	background-color: v.$amarillo;
	padding: 3rem 0;
	position: relative;
	&-contenedor{
		padding: 4rem 0;
		align-items: center;
		@include m.grid(2, 3rem);
		&__left{

		}
		&__right{

		}
	}
	&__contentmessage{
		margin-bottom: 0;
		margin: 3rem 0;
		font-size: 2.5rem;
	}
	&__text{
		margin-bottom: 3rem;
	}
	&__boton{
		background-color: v.$purpuraOscuro;
	    border-radius: 2rem;
	    font-size: 1.6rem;
	    font-weight: bold;
	    padding: 1rem 2rem;
	    color: v.$blanco;
	    display: inline-block;
	}
	&__cards{
		@include m.grid(2, 2rem);
		grid-template-rows: repeat(14, 1fr);
		&-card{
			background-color: v.$blanco;
			height: fit-content;
		    display: flex;
		    flex-direction: column;
		    border-radius: 1.1rem;
		    align-items: center;
		    align-items: stretch;
    		justify-content: center;
			&:nth-child(1){
				grid-row: 1 / 6;
			    grid-column: 1 / 2;
			}
			&:nth-child(2){
				grid-row: 1 / 8;
    			grid-column: 2 /3;
			}
			&:nth-child(3){
				grid-row: 6 / 13;
    			grid-column: 1 / 2;
			}
			&:nth-child(4){
				grid-row: 8 / 15;
    			grid-column: 2 / 3;
			}
			& img{
				width: 95%;
			}
		}
	}
}
.boton-card{ border-radius: 1rem; }