@use 'base/variables' as v;

.wrapper-header{
	background-color: v.$purpura;
	position: relative;
	&:after{
	    content: "";
	    background-image: url(../img/wave-haikei.svg);
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: top;
	    position: absolute;
	    top: 99.5%;
    	z-index: -1;
	    left: 0;
	    right: 0;
	    width: 100%;
	    padding: 6%;
	}
}
.header{
	padding: 1rem;
	padding-top:1.5rem;
	&-contenedor{
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
	&-logo{
		display: flex;
	    align-items: center;
	    column-gap: 0.5rem;
		&__img{
		    max-width: 108px;
    		width: 4rem;
		}
		&__title{
			color: v.$amarillo;
			font-family: v.$fuenteTitulo;
			font-size: 3.8rem;
		}
	}
	&-contact-button{
		background-color: v.$amarillo;
	    border-radius: 2rem;
	    font-size: 1.6rem;
	    font-weight: bold;
	    padding: 1rem 2rem;
	    border: 2px solid v.$amarillo;
		color: v.$negro;
		transition: .3s all ease-in-out;
	    &:hover{
	        background-color: transparent;
    		color: v.$amarillo;
	    }
	}
	&-contact-iconMenu{
		display:none;
	    width: 3.5rem;
	    height: 3.5rem;
	    background-color: #4c3397;
	    justify-content: center;
	    align-items: center;
	    border-radius: 50%;
	    & i{ color: v.$blanco; }
	}
}
.navigation{
	display: flex;
    column-gap: 3rem;
    z-index: 1;
	&-link{
		color: v.$blanco;
		font-weight: bold;
		font-size: 1.6rem;
		&:hover{
			color: v.$amarillo;
			transition: color .3s ease-in-out;
		}
		&__submenu{
		    position: absolute;
		    left: -1rem;
		    top: 3rem;
		    display: flex;
		    flex-direction: column;
		    background-color: v.$amarillo;
		    width: 22rem;
    		padding: 1rem 0.1rem;
    		border-radius: 1.5rem;
    		transition: .3s all ease-in-out;
  		    transform: translateY(-1rem);
    		opacity: 0;
			&-link{
				padding: 1rem 0;
				padding-left: 1.5rem;
				color: v.$negro;
				&:hover{
					background-color: v.$negro;
					color: v.$blanco;
				}
			}
		}
	}
	& .father-submenu{
		position: relative;
		&:hover > .navigation-link__submenu{
			transform: translateY(0);
    		opacity: 1;
		}
		& .navigation-link{
			&:after {
				content: "\f078";
				font: normal 900 0.9em/1 "Font Awesome 6 Free";
				margin-left: 0.8rem;
			}
			&__submenu-link{
				transition: .1s all ease-in-out;
			}
		}
	}
	&__closeMbMenu{
		display: none;
	    background-color: #eb4846;
	    color: black;
	    padding: 0.5rem;
	    font-size: 2rem;
	    width: 3rem;
	    border-radius: 8px;
	    justify-content: center;
	    align-items: center;
	    margin: 0 0 0 auto;
	}
}

@media (max-width: 990px) {
	.header{ margin-bottom: 3rem; }
	.header-contact-button{ display: none; }
}

@media (max-width: 800px) {
	.header-contact-iconMenu{ display: flex; }
	.navigation{
		display: none;
		&__closeMbMenu{
			display:flex;
		}
	}
}

@media (max-width: 480px) {
	.header-logo{
	    background-color: #4c3397;
	    width: 3.5rem;
	    height: 3.5rem;
	    border-radius: 50%;
	    padding: 0.3rem;
	    display: flex;
	    justify-content: center;
	    align-items: center;
		&__img{
			width: 2.5rem;
		}
		&__title{
			display: none;
		}
	}
}
.style-menuMb{
	display:flex;
	position: fixed;
    left: 0;
    background-color: #4c3397;
    bottom: 0;
    top: 0;
    flex-direction: column;
    padding: 2rem;
    row-gap: 1rem;
    min-width: 25rem;
    max-width: 20rem;
}
.overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
	background: rgba(76, 51, 151, 0.2784313725);
}
/*
    position: fixed;
    left: 0;
    background-color: #4c3397;
    bottom: 0;
    top: 0;
    flex-direction: column;
    padding: 2rem;
    row-gap: 1rem;
    min-width: 25rem;
    max-width: 20rem;
*/