@use 'base/variables' as v;
@use 'base/mixins' as m;

.know-about{
	background-color: v.$blanco;
	padding: 3rem 0;
	&__cards{
		@include m.grid(4,4rem);
		justify-content: center;
		margin: 4rem 0;
		&-card{
			text-align: center;
		    background-color: v.$grisClaro;
		    padding: 1rem 0;
		    border-radius: 8px;
			&_num{
				font-size: 5rem;
			    font-weight: bold;
			}
			&_text{
				color: #4C3397;
			    font-size: 2.5rem;
			    text-transform: uppercase;
			    font-weight: 600;
			    line-height: 2.8rem;
			}
		}
	}
}

@media (max-width: 1160px) {
	.know-about__cards-card{
		padding: 1rem 4rem;
	}
}

@media (max-width: 980px) {
	.know-about__cards{
		grid-template-columns: repeat(2, 1fr);
	}
	.know-about__cards-card_num{
		font-size: 4.5rem;
	}
	.know-about__cards-card_text{
		font-size: 2rem;
	}
}
@media (max-width: 480px) {
	.know-about__cards{
		grid-template-columns: repeat(1, 1fr);
	}
}